@import "~bulma/sass/utilities/functions.sass";
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/derived-variables.sass";

$black: #000;
$white: #fff;

$purple-black: #251f29;
$torch-red: #fa2742;
$davys-grey: #0e0a09;
$wild-sand: #f4f4f4;
$light-gray: #e8eae3;
$mustard: #d8ac70;

$grey: #757575;
$greyish: #292e38;

/**
 * Borders
 */
$borders: #d7d6de;
$backgrounds: #ecebf2;
$contrast-backgrounds: #4a5364;

$yellow-2: #fff1de;

$primary: $purple-black;
$primary-invert: $wild-sand;
$secondary: $purple-black;
$secondary-invert: $wild-sand;
$tertiary: $davys-grey;

$logo-color: $wild-sand;
$logo-color-invert: $purple-black;
$success: #0d8758;
$success-invert: findColorInvert($success);
$info: #36bcd4;
$info-invert: findColorInvert($info);
$danger: $torch-red;
$danger-invert: findColorInvert($danger);
$link: $mustard;
$link-invert: findColorInvert($link);
$text: $primary;
$background-color: $wild-sand;

$colors: map-merge(
  $colors,
  (
    "primary": (
      $primary,
      $primary-invert,
    ),
    "secondary": (
      $secondary,
      $secondary-invert,
    ),
    "inverted": (
      $background-color,
      $primary,
    ),
    "success": (
      $success,
      $success-invert,
    ),
    "info": (
      $info,
      $info-invert,
    ),
    "danger": (
      $danger,
      $danger-invert,
    ),
    "text": (
      $primary,
      $primary-invert,
    ),
    "link": (
      $link,
      $link-invert,
    ),
  )
);

// Navbar
$navbar-background-color: $secondary;
$navbar-item-color: $white;
$navbar-height: 4rem;
$button-border-color: $white;

// Footer
$footer-padding: 3rem 1.5rem 1rem;
$footer-background-color: $background-color;

$body-background-color: $background-color;
$fullhd-enabled: false;
$hero-body-padding-medium: 6rem 1.5rem;

main > .container {
  background: $background-color;
  min-height: 70vh;
}

$title-color: $primary;
$title-family: "Ubuntu", "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
$title-weight: 700;
$title-size: 40px;
$title-sub-size: 45px;
$title-sup-size: 30px;

$subtitle-color: $primary;
$subtitle-family: "Ubuntu", "Helvetica Neue", Roboto, Helvetica, Arial,
  sans-serif;
$subtitle-weight: 400;
$subtitle-size: 32px;
$subtitle-sub-size: 30px;
$subtitle-sup-size: 15px;

.subtitle {
  color: $white;
  background: $secondary;
  display: inline;
  padding: 3px 8px;
  margin: 15px auto 30px;
}

$breadcrumb-item-color: $primary;
$checkbox-background-color: $white;
$title-color: $primary;
